QA_BASE_URL=https://qa.saucedemo.com
UAT_BASE_URL=https://uat.saucedemo.com
PROD_BASE_URL=https://www.saucedemo.com

# Sample Credentials
TEST_USER=standard_user
TEST_PASSWORD=secret_sauce

# Sample API Token
#API_KEY=dummy_api_key_12345
#DB_URL=jdbc:mysql://dummy-db-host:3306/db
